/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v12-latin-regular.eot");
  src: local(""),
    url("/assets/fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/inter-v12-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/inter-v12-latin-regular.woff") format("woff"),
    url("/assets/fonts/inter-v12-latin-regular.ttf") format("truetype"),
    url("/assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg");
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/inter-v12-latin-800.eot");
  src: local(""),
    url("/assets/fonts/inter-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/inter-v12-latin-800.woff2") format("woff2"),
    url("/assets/fonts/inter-v12-latin-800.woff") format("woff"),
    url("/assets/fonts/inter-v12-latin-800.ttf") format("truetype"),
    url("/assets/fonts/inter-v12-latin-800.svg#Inter") format("svg");
}

/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-secondary;
}

.gradient-text {
  @apply text-transparent bg-clip-text;
  @apply bg-gradient-to-br from-teal-500 via-indigo-500 to-purple-500;
}
