---
import { Icon } from "astro-icon";
import ThemeSwitcher from "~/components/theme-switcher.astro";

const navItems = [];
---

<header
  id="page-header"
  class="absolute bottom-0 z-10 flex items-center justify-between w-full px-8 py-4 text-white border-b border-transparent"
>
  <div>
    <div class="flex items-center gap-6">
      <ThemeSwitcher />
    </div>
  </div>
</header>
